$button-colors: (red: #f33, green: #3f3, blue: #33f, yellow: #ff3);
* {
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}

.main {
  margin: auto; // margin-top: 10%;
  width: 250px;
}

.btn-wrapper {
  margin: auto;
  border: solid;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.btn {
  display: inline-block;
  height: 80px;
  width: 90%;
  margin: 5px auto;
  border: solid 1px black;
  cursor: pointer; // $colors: (color1: blue, color2: red, color3: green, color4:yellow);
  @each $key,
  $color in $button-colors {
    &--#{$key} {
      background: $color;
      &.active {
        background: lighten($color, 20)
      }
    }
  }
}

.controller {
  margin-top: 10px;
   & > div{
    text-align: center;
    // margin-right: 3px;
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    background: #0f0;
    border: solid 1px black;
    font-size: 1em;
  }
  .count {
    // content: '--';
    // font-size: 2em;
    background: black;
    color: red;
    font: monospace;
    width: 20%;
  }
  .mode {
    width: 30%;
    cursor: pointer
  }
  .restart {
    width: 40%;
    cursor: pointer;
  }
}

#power {
  float: clear;
  height: 20px;
  width: 40x;
  background: #444;
}

.led {
  width: 6px;
  height: 6px;
  background-color: #32050C;
  border-radius: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  border: 2px solid #222;
  top: -18px;
}