@import 'reset-css';
$button-colors: (red: #f33, green: #3f3, blue: #33f, yellow: #ff3);
/* Basic Reset */

@mixin change() {
  transition: all 1s ease-in;
  -webkit-transition: all 1s ease-in;
  -moz-transition: all 1s ease-in;
  -o-transition: all 1s ease-in;
}

@mixin pressed-on() {
  border: none;
  box-shadow: 0px 0px 0px 2px #555;
}

* {
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}

.main {
  margin: auto; // margin-top: 10%;
  width: 250px;
  margin-top: 10%;
}

.btn-wrapper {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.btn {
  height: 80px;
  width: 90%;
  margin: 5px auto;
  border: solid 1px black;
  cursor: pointer; // $colors: (color1: blue, color2: red, color3: green, color4:yellow);
  @each $key,
  $color in $button-colors {
    &--#{$key} {
      background: $color;
      &.active {
        background: lighten($color, 20)
      }
    }
  }
}

.controller {
  margin-top: 10px;
  text-align: center;
  .count {
    .displayCount {
      font-family: 'Segment7Standard', sans-serif;
      font-weight: normal;
      background: black;
      color: red;
      border-radius: 10%;
      font-size: 2em;
    }
  }
  .mode {
    cursor: pointer;
    .round-btn {
      background: yellow;
    }
  }
  .start {
    cursor: pointer;
    .round-btn {
      background: red;
    }
  }
}

.round-btn {
  border-radius: 50%;
  border: solid 1px;
  height: 20px;
  width: 20px;
  margin: auto;
  &.pressed-on {
    @include pressed-on();
  }
}

.label {
  font-size: 0.8em;
  margin-top: 5px;
}

.led {
  width: 6px;
  height: 6px;
  background-color: #32050C;
  border-radius: 100%; // position: absolute;
  // left: 0;
  // right: 0;
  // top: -18px;
  margin: auto auto 4px auto;
  border: 2px solid #222;
  &.led-on {
    background-color: #f00;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
}

.grid-item {
  align-self: end;
}

#power {
  display: inline-block;
  height: 20px;
  width: 40x;
}

.switch {
  display: inline-block;
  height: 20px;
  width: 40px;
  background: #444;
  margin: 0.5em;
  margin-bottom: 0em;
  cursor: pointer;
  .flip {
    // @include change;
    background: #59f;
    height: 100%;
    width: 50%;
    &.switch-on {
      transform: translateX(100%);
    }
  }
}